:root{
--Green : hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very : hsl(212, 21%, 14%);
--Dark: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before,
*:after{
    box-sizing: inherit;
}


body{
font-size: 14px;
background-color: var(--Cream);
font-family: 'Montserrat', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.caja{
    text-align: left;
    background-color: var(--White);
    margin-top: 1rem;
    padding: 1rem;
}

.caja2 h1{
    font-family: 'Fraunces', serif;
    font-size: 35px;
}

.caja2 h2{
    color: var(--Dark);
}

.contenido p{
color: var(--Dark);
}

.contenido span{
    color: var(--Green);
    font-size: 30px;
    font-family:'Fraunces', serif ;
}


.image{
    background-image: url(./images/image-product-mobile.jpg);
    width: 350px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    position: relative;
}

.img{
   position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px; 
}